body {
	font-family: Ubuntu, Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 1em;	
}

.pb-header {
	text-align: right;
}

h1 {	
	background-color: #7E97AD;
	padding: 0.5em;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}

h2 {	
	color: #7E97AD;
	font-size: 18px;
}

.pb-h2-right {
	color: #333;
	font-weight: bold;
}

.pb-separator {
	height: 2px;
	background-color: #7E97AD;
}

.u-margin-top-lg {
	margin-top: 50px;
}

.u-margin-top-md {
	margin-top: 25px;
}

.pb-todo {
	color: #b00;
}